
/*CSS PARA EL ENCABEZADO*/
/*menu principal */
header nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF0ED;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 1280px;
}
/*texto nitro en el logo*/
nav h2{
    margin-top: 0%;
    margin-right: 0%;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 50;
}

/* quitar viñetas a items del menu*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /*background: #FFF0ED;*/
}
/*color letra del menu*/  
nav li a {
    color: #393939;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
  }
/*efecto cuando se desplaza el mouse*/
  nav li a:hover {
    background: #5BACC3;
    color: white;
  }

/*espaciado y justificado de las opciones del menu*/  
@media screen and (min-width: 800px) {
nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  }
}
/* ubicación logo cafe y texto nitro*/
.logoynitro{
    background-color: #FFF0ED;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*tamaño de imágen*/
.menu img{
    min-width: 100%;
    max-width:100% ;
    min-height: 575px;
    max-height: 675px;
    background-position: center;
    background-size: cover;
    
}

/*CSS SECCION MENU*/
/*divisón del cuadro negro*/

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:1280px;
    background-color: white;
    background-size: cover;
    align-content: center;
}
.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
}
.titulomenu{
    width: 280px;
    height: 180px;
    background-color:#393939;
    color:white
    
}
/*titulo MENU*/
.titulomenu h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 100;
    margin-top: 0%;
    text-align: center;
}

/* SEGUNDA BARRA DE NAVEGACION MENU*/
.nav2 {
    width: 100%;
    max-width: 100%;
    background-color: #393939;
    color: white;
}

/*ELEMENTOS DEL MENU*/
.nav2 li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    text-align: center;
    color: white;
}

/* SEGUNDA BARRA DE NAVEGACION MENU*/
.nav2 {
    width: 100%;
    max-width: 100%;
    background-color: #393939;
    color: white;
}

/*ELEMENTOS DEL MENU*/
.nav2 li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    text-align: center;
    color: white;
}


/*seccion hot*/
.hotdrinks {
    background-color: #FFF0ED;
    
}
/*seccion cold*/
.colddrinks {
    background-color: #F7F7F7;
}
/*seccion past*/
.pastries {
    background-color: #FFF0ED;
}

/*todos los titulos dela seccion*/
.hotdrinks  h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

.colddrinks h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

.pastries h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

/*todos los subtitulos dela seccion*/
.hotdrinks  h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.colddrinks h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.pastries h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

/*todos los parrafos dela seccion*/
.hotdrinks  p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    text-justify:left;
       
}

.colddrinks p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    text-justify:left;
}

.pastries p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    text-justify:left;
}

/*ubicacion de los parrafos*/
.paragraf{
    /*width: 400px;*/
    text-align: center;
}
.valor{
    color: #5BACC3;
}

